<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise APP</title>
  </head>
  <body>
    <section>
      <header>
        <h1>Exercise APP</h1>
      </header>
      <section>
        <h2>Exercise app will help you to get in shape!!!</h2>
        <a href="/index">Strt APP</a>
      </section>
    </section>
    <footer>
      <p>Created by</p>
      <a href="">M3hd1 Iz</a>
      <p>made with love</p>
      <p>Authentication powered by <a href="">Passport</a></p>
    </footer>
  </body>
</html>
